package &baseControllerPackageName&;

import java.util.List;
import com.base.dialect.PaginationSupport;
import com.base.dao.model.Ret;
import com.base.dao.model.Grid;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import org.apache.commons.lang.StringUtils;
import com.base.util.JSONUtils;
import com.base.web.annotation.LoginFilter;
import org.springframework.beans.factory.annotation.Autowired;
import com.base.action.CoreController;
import &baseModelPackageName&.&className&;
import &baseModelPackageName&.&className&Example;
import &baseServicePackageName&.&className&Service;

/**
@author sun
*/
@RequestMapping("&className.toFirstLowerCase&")
@Controller
@LoginFilter
public class &className&Controller extends CoreController{

    @Autowired
    private &className&Service &className.toFirstLowerCase&Service;
    
    @RequestMapping("/list")
	@ResponseBody 
    public String list(Integer page, Integer rows){
    	PaginationSupport.byPage(page, rows);
    	&className&Example example = new &className&Example();
    	
    	List<&className&> list = &className.toFirstLowerCase&Service.selectByExample(example);
      	return page(list);
    }
    
    @RequestMapping("/save")
	@ResponseBody 
    public String save(&className& &className.toFirstLowerCase&){
    	if (&className.toFirstLowerCase&.getId() == null){
    		&className.toFirstLowerCase&Service.insert(&className.toFirstLowerCase&);
    	}else{
    		&className.toFirstLowerCase&Service.updateByPrimaryKeySelective(&className.toFirstLowerCase&);
    	}
       	return ok();
    }
    
    @RequestMapping("/findById")
	@ResponseBody 
    public String find(Integer id){
    	&className& &className.toFirstLowerCase& = &className.toFirstLowerCase&Service.selectByPrimaryKey(id);
       	return ok(&className.toFirstLowerCase&);
    }
    
    @RequestMapping("/del")
	@ResponseBody 
    public String del(String id){
    	String[] ids = id.split(",");
    	for (String str : ids){
    		&className.toFirstLowerCase&Service.deleteByPrimaryKey(Integer.parseInt(str));
    	}
       	return ok();
    }


}